*.lo
*.la
*.o
*.a
*.so
*.So
lib*.so*
*.deps
*.d
configure
*.gcno
*.gcda
*.gcov
*.tgz
*.zip
*.7z

*~
.#*

tests/test_*
.build_params
.tested
wolfsentry_options.h

examples/notification-demo/log_server/log_server
examples/notification-demo/udp_to_dbus/udp_to_dbus

scripts/analyzer-config.sh
