*.lo
*.la
*.o
*.a
*.so
*.So
lib*.so*
*.deps
*.d
configure
*.gcno
*.gcda
*.gcov

*~
.#*

tests/test_*
.build_params
.tested
wolfsentry_options.h

examples/notification-demo/echo_server/echo_server
examples/notification-demo/udp_to_dbus/udp_to_dbus
